<!DOCTYPE html>
<html lang="en">

<style>
  @font-face {
    font-family: defaultFont;
    src: url(./font/Excluded-z8XrX.ttf);
  }

  body {
    font-family: defaultFont;
    background-image: url(./img/background-ashe.jpg);
    overflow-x: hidden;
  }

  .container {
    color: darkslategray;
    font-family: defaultFont;
    background-color: rgba(255, 255, 255, 0.4);
  }
  header {
    color: black;
  }
</style>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Erick Alessi">

  <title>LOR FUN MATCHES</title>
  <script src="jquery-3.5.1.min.js"></script>

  <!-- Última versão CSS compilada e minificada -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Última versão JavaScript compilada e minificada -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>

<body>

  <!-- Masthead -->
  <div class="container darker">
    <header>
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1>LOR FUN MATCH</h1>
        </div>
      </div>
    </header>
    <!-- names selection-->
    <form>
      <div class="text-center">
        <h2>Players Name</h2>
      </div>
      <div class="form-row text-center">
        <div class="col-sm-6">
          <input class="form-control form-control-lg rounded" type="text" id="p1-name" placeholder="Player 1 Name">
        </div>
        <div class="col-sm-6">
          <input class="form-control form-control-lg rounded" type="text" id="p2-name" placeholder="Player 2 Name">
        </div>
    </form>

    <!-- region selections -->
    <form>
      <div class="text-center">
        <h2>Regions Selection</h2>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <label>
            <input id="same-region-for-both" type="checkbox">SAME REGION FOR BOTH
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <img class="img-fluid" src="img/Bilgewater-Icon.png">
          <div class="row">
            <div class="col-sm-6">
              <label>
                <input id="p1-bilgewater" type="checkbox" checked="true">P1
              </label>
            </div>
            <div class="col-sm-6">
              <label>
                <input id="p2-bilgewater" type="checkbox" checked="true">P2
              </label>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <img class="img-fluid" src="img/Demacia-Icon.png">
          <div class="row">
            <div class="col-sm-6">
              <label>
                <input id="p1-demacia" type="checkbox" checked="true">P1
              </label>
            </div>
            <div class="col-sm-6">
              <label>
                <input id="p2-demacia" type="checkbox" checked="true">P2
              </label>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <img class="img-fluid" src="img/Freljord-Icon.png">
          <div class="row">
            <div class="col-sm-6">
              <label>
                <input id="p1-freljord" type="checkbox" checked="true">P1
              </label>
            </div>
            <div class="col-sm-6">
              <label>
                <input id="p2-freljord" type="checkbox" checked="true">P2
              </label>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <img class="img-fluid" src="img/Ionia-Icon.png">
          <div class="row">
            <div class="col-sm-6">
              <label>
                <input id="p1-ionia" type="checkbox" checked="true">P1
              </label>
            </div>
            <div class="col-sm-6">
              <label>
                <input id="p2-ionia" type="checkbox" checked="true">P2
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <img class="img-fluid" src="img/Noxus-Icon.png">
          <div class="row">
            <div class="col-sm-6">
              <label>
                <input id="p1-noxus" type="checkbox" checked="true">P1
              </label>
            </div>
            <div class="col-sm-6">
              <label>
                <input id="p2-noxus" type="checkbox" checked="true">P2
              </label>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <img class="img-fluid" src="img/Piltover-Zaun-Icon.png">
          <div class="row">
            <div class="col-sm-6">
              <label>
                <input id="p1-piltover" type="checkbox" checked="true">P1
              </label>
            </div>
            <div class="col-sm-6">
              <label>
                <input id="p2-piltover" type="checkbox" checked="true">P2
              </label>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <img class="img-fluid" src="img/Shadow-Isle-Icon.png">
          <div class="row">
            <div class="col-sm-6">
              <label>
                <input id="p1-bilgewater" type="checkbox" checked="true">P1
              </label>
            </div>
            <div class="col-sm-6">
              <label>
                <input id="p2-bilgewater" type="checkbox" checked="true">P2
              </label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>


  <div class="text-center">
    <h2>Moddifiers</h2>


    <select id="multiple-checkboxes" multiple="multiple">
      <option value="php">No Magics!</option>
      <option value="javascript">Only Commons</option>
      <option value="java">Only Commons and Rares</option>
      <option value="sql">No Legends Allowed</option>
      <option value="jquery">Only 5+ Cost Cards</option>
    </select>

  </div>


  <div class="row text-center">
    <button type="button" class="btn btn-lg btn-primary">Make Me A Match Setting</button>
  </div>











  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="row">
      <div class="col-sm-12 text-center">
        <p class="text-muted" style="color:darkslategray">LORFUNMATCH 2020. ERICK ALESSI.

          <a href="https://www.linkedin.com/in/erick-alessi-091404167/">
            <i class="fa fa-linkedin"></i>
          </a>
        </p>
      </div>
    </div>

  </footer>


</body>
</div>

</html>
